[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "vim/bundle/vim-colorschemes"]
	path = vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/closetag.vim"]
	path = vim/bundle/closetag.vim
	url = https://github.com/docunext/closetag.vim
[submodule "vim/bundle/vim-nerdtree-tabs"]
	path = vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs
[submodule "vim/bundle/html5.vim"]
	path = vim/bundle/html5.vim
	url = https://github.com/othree/html5.vim
[submodule "vim/bundle/MatchTag"]
	path = vim/bundle/MatchTag
	url = https://github.com/gregsexton/MatchTag
[submodule "vim/bundle/vim-javascript-syntax"]
	path = vim/bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
